<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Licence Plate Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="ion-text-center" style="padding: 8px;">
    <img src="assets/img/recognizing.gif" alt="Recognizing">
    <h3>Recognizing licence plates...</h3>
  </div>

  <div *ngIf="!loading && !results.length" class="ion-text-center" style="padding: 8px;">
    <img src="assets/img/empty.gif" alt="Empty Data">
    <h3>No licence plates found</h3>
    <p>Please scan to find licence plates</p>
  </div>

  <div *ngIf="!loading && results.length" style="padding: 16px;">
    <h3 style="margin: 4px;">Found {{ results.length }} licence plate{{ results.length > 1 ? 's': '' }}:</h3>
    <div *ngFor="let result of results" style="margin: 4px; padding: 8px 12px; background-color: black; border-radius: 4px; display: inline-block;">
      <span style="font-size: xx-large; color: white; font-weight: bold;">{{ result }}</span>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="captureImage()">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
